#header{
    background-color: black;
}

.contents{
    margin-top: 7.5em;
    margin-bottom: 1.5em;
}

#v-pills-tab{
    border-radius: 4px 4px 4px 4px;
    background-color: black;
}

#header-Report {
    color: #18d26e;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: black;
    border-radius: 4px 4px 4px 4px;

}

.form-report {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

#NombreDatosPersonales{
  margin-left: 5%;
}

.btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #18d26e;
}

.btn-get-started:hover {
    background: #fff;
    color: #18d26e;
}

#userImage {
    width: 6em;
}

.h2 {
    font-family: "Montserrat", sans-serif;
	background-color: black;
	color: #18d26e;
}


/* Hover image */

.hovereffect {
width:6em;
height:6em;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover .overlay i {
    font-size: 36px;
    line-height: 1;
    color: #18d26e;
    transition: 0.3s;
}